@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Zen+Maru+Gothic:wght@300;400;500&family=Tsukimi+Rounded&display=swap');

@font-face {
  font-family: 'Phosphor-Thin';
  src: url('https://cdn.jsdelivr.net/gh/xk143s2/duoloquy@main/iconl.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Phosphor-Bold';
  src: url('https://cdn.jsdelivr.net/gh/xk143s2/duoloquy@main/icond.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gothic";
  src: url("https://cdn.jsdelivr.net/gh/xk143s2/duoloquy@main/ShinRetroMaruGothic-R.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}


* {
   font-family: var(--main);
   margin: 0;
   padding: 0;
   font-weight: 400 !important;
   box-sizing: border-box;
   letter-spacing: .13em;
   font-size: 8.8px;
   line-height: 2.3; 
}



html{
  scrollbar-width: none;
  background-attachment: scroll;
  min-height:100%;

  background:#0a0b14 !important;
}

body{
  min-height:100dvh;
  position: static; /* ← relativeにしない */
  z-index: auto;
  background:#0a0b14 !important;
}

body::-webkit-scrollbar {
  display: none;
}

#bg-fixed{
  position: fixed;
  inset: 0;
  z-index: 0;

background:
  /* 最下部のくすみピンク溜まり */
  radial-gradient(
    ellipse at 50% 125%,
    rgba(214, 138, 170, 0.18),
    rgba(214, 138, 170, 0.10) 40%,
    transparent 70%
  ),

  /* 既存ピンクネオン残光 */
  radial-gradient(
    circle at 50% 120%,
    rgba(255,110,199,0.15),
    transparent 50%
  ),

  /* シアン残光 */
  radial-gradient(
    circle at 40% 110%,
    rgba(94,231,255,0.12),
    transparent 60%
  ),

  /* ベース */
  linear-gradient(
    180deg,
    #0a0b14 0%,
    #16182e 50%,
    #1e2140 100%
  );
}

#bg-fixed::before {
  content: "";
  position: fixed;
  inset: 0;
  background: radial-gradient(
    circle at 25% 50%,
    rgba(200, 180, 255, 0.2),
    transparent 60%
  );
  opacity:0.5;
  mix-blend-mode: screen;
  pointer-events: none;
}

#rainlayer {
  position: fixed;
  inset: 0;
  overflow: hidden;
  pointer-events: none;
  z-index: 2; /* 必要に応じて調整 */
}

.rain-drop {
  position: absolute;
  top: 0;
  will-change: transform;

  background:
    linear-gradient(
      to bottom,
      rgba(200,180,255,0) 0%,
      rgba(200,180,255,.35) 15%,
      rgba(150,130,230,.25) 50%,
      rgba(200,180,255,.35) 85%,
      rgba(200,180,255,0) 100%
    );

/*
  background: linear-gradient(
  to top,
  rgba(135, 125, 165, 0.45) 0%,
  rgba(215, 220, 235, 0.45) 35%,
  rgba(170, 165, 210, 0.45) 65%,
  rgba(130, 140, 170, 0.45) 100%
);
*/

  box-shadow:
    inset 0 0 14px rgba(180,160,255,.25),
    0 0 6px rgba(170,150,255,.18);

  mix-blend-mode: lighten;
  opacity: .8;

  filter: blur(.4px);

  animation: rainFall 6s linear infinite;
}

@keyframes rainFall {
  0% {
    transform: translateY(-10vh);
    opacity: 0;
  }
  16% {
    opacity: 0.7;
  }
  100% {
    transform: translateY(110vh);
    filter:blur(1px);
    opacity: 0;
  }
}


#grain{
  position:fixed;
  inset:0;
  pointer-events:none;
  z-index:1; /* 雨より下 */
  opacity:.5;
}

 
:root {

   /* ===== COLOR PALETTES ===== */

   --background: #1D1931;
   --hn: #b88ccf;
   --hn-rgb: 184, 140, 207;
   --dr: #8fb4d6;
   --dr-rgb: 143, 180, 214;
   --black: rgb(0, 0, 0, 1);
   --white: rgba(255,255,255,.75);
   --lgreen: #aacf53;
   --orange: #f6ad48;
   --yellow: #fef263;
   --lblue: #84b9cb;
   --purple: #7058a3;

  /* ===== FONT ===== */

   --main: "Gothic", "Zen Maru Gothic", system-ui, sans-serif;
   --eng: "Quicksand";
   --JPserif: "Gothic", "Zen Maru Gothic", system-ui, sans-serif;

}

hr {
   display: none;
}

a {
   text-decoration: none;
   color: #ccc;
   background: rgb(0, 0, 0, 0);
   text-shadow:0 0 3px;
}

a:hover {   filter: blur(1px);
}

a:visited {
   color: #fff !important;
}


/* ===== ロックカード本体 ===== */
.card-filter.card{
  margin-top:-20px;
  position: relative;
  background: linear-gradient(
  to bottom,
  rgba(160,200,255,0.11),
  rgba(120,90,200,0.16)
);
backdrop-filter: blur(12px) saturate(110%);
-webkit-backdrop-filter: blur(12px) saturate(110%);
box-shadow:
  0 10px 30px rgba(0,0,0,.22),
  0 0 35px rgba(120,140,255,.08),
  inset 0 0 30px rgba(255,255,255,.05);
  border-radius: 28px;
  position:relative;
  z-index:10;
  text-align:center;
  padding: 40px 30px 28px;
  border:none;
}
.card-filter.card::after{
  content:"";
  position:absolute;
  inset:0;
  border-radius:inherit;
  background: radial-gradient(
    circle at 50% 45%,
    rgba(255,255,255,0.05),
    transparent 65%
  ); 
  border-top: 1px solid rgba(255,255,255,0.06);
  pointer-events:none;
}

/* ===== タイトル ===== */
.card-filter.card h3{
  text-align: center;
  font-size: 0;
  letter-spacing: .15em;
  color: rgba(255,255,255,0.9);
  filter:none;
  margin-bottom:2px;
  position:relative;
}

.card-filter.card h3::before {
  content:'\e2d6';
  font-family:'Phosphor-Bold';
  text-align: center;
  font-size: 10px ;
  letter-spacing: .15em;
  color: rgba(255,255,255,0.9);
  margin-right:7px;
  bottom:-1px;
  filter:none;
  text-shadow:
    0 0 10px rgba(255,255,255,0.4),
    0 0 20px rgba(120,90,200,0.6);
  position:relative;
}

.card-filter.card h3::after {
  content:'ネオンで開きます';
  text-align: center;
  font-size: 8.9px;
  letter-spacing: .25em;
  color: rgba(255,255,255,.66);
  filter:none;
  position:relative;
}

/* ===== <br>の余白を制御 ===== */
.card-filter.card br{
  display: none;
}

/* ===== フォーム縦並び ===== */
.card-filter.card form{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

/* ===== 入力欄 ===== */
.card-filter.card input[type="text"]{
  width: 100%;
  padding: 14px 18px;
  border-radius: 16px;
  background: rgba(255,255,255,0.05);
  border: 1px solid rgba(255,255,255,0.15);
  color: var(--white);
  font-size: 9px;
  letter-spacing: .1em;
  outline: none;
  transition: .3s;
  margin-top:-8px;
}

.card-filter.card input[type="text"]:focus{
  border-color: rgba(255,255,255,.2);
  box-shadow:
    0 0 15px rgba(255,255,255,.23),
    0 0 35px rgba(255,255,255,.08);
}

/* ===== ボタン ===== */
.card-filter.card .btn{
  width:60px;
  margin:0 auto;
  padding: 12px;
  border-radius: 18px !important;
  background:
  /* 一番下（完全ベース色） */
  #FFFFFF,

  /* 左上 HN */
  radial-gradient(
    circle at 0% 0%,
    rgba(184,140,207,.25),
    transparent 65%
  ),

  /* 右下 DR */
  radial-gradient(
    circle at 100% 100%,
    rgba(143,180,214,.25),
    transparent 65%
  );
  color: transparent !important;
  letter-spacing: .2em;
  border:1px solid rgba(255,255,255,.06);
  transition: .3s;
  font-size:0 !important;
  position:relative;
}

.card-filter .btn::after {
  content: "OPEN";
  font-family:var(--eng);
  font-weight:300;
  color:var(--white);
  font-size: 9px !important;
  letter-spacing:2px;
}

.card-filter.card .btn:hover{
  transform: translateY(-2px);
  background:
  /* 一番下（完全ベース色） */
  #FFFFFF,

  /* 左上 HN */
  radial-gradient(
    circle at 0% 0%,
    rgba(184,140,207,.45),
    transparent 65%
  ),

  /* 右下 DR */
  radial-gradient(
    circle at 100% 100%,
    rgba(143,180,214,.45),
    transparent 65%
  );
}

.card-filter input[name="unlock_pass"]::placeholder {
  color: #FFFFFF;
  font-size: 9px;
  letter-spacing: 2px;
  opacity: 1;
  font-family:var(--eng);
  font-weight:300;
}

.card-filter input[name="unlock_pass"],
.card-filter input[name="unlock_pass"]:focus,
.card-filter input[name="unlock_pass"]:not(:placeholder-shown) {
  transform: none !important;
  width: 80% !important;
  height: 40px !important;
  display: block;
  font-size: 9px !important;
  padding: 0 15px !important;
  border: none !important;
  margin:-10px auto !important;
}

/* ===== ロゴ ===== */

.duoloquy {
  position:relative;
  width:240px;
  margin:0 auto;
  z-index:10;
  font-family:var(--eng);
  font-weight:500;
}

.duoloquy svg{
  display:block;
}

/* ===== LOADING ===== */

#loading{
  position: fixed;
  inset: 0;

  display: grid;
  place-items: center;

  min-height: 100vh;

  background:
  radial-gradient(ellipse at 50% 125%, rgba(214,138,170,.18), rgba(214,138,170,.10) 40%, transparent 70%),
  radial-gradient(circle at 50% 120%, rgba(255,110,199,.15), transparent 50%),
  radial-gradient(circle at 40% 110%, rgba(94,231,255,.12), transparent 60%),
  linear-gradient(180deg,#0a0b14 0%,#16182e 50%,#1e2140 100%);

  z-index:9999;

  transition:
    opacity 0.8s ease,
    visibility 0.8s ease;

  visibility: visible;
}

#loading.fade-out{
  opacity:0;
  visibility:hidden;
  pointer-events:none;
}

/* ===== INNER ===== */

.loading-inner{
  position: relative;
  width: 260px;
  height: 260px;

  display: flex;
  justify-content: center;
  align-items: center;

  overflow: visible;
}

/* ===== DIAMOND ===== */

.loading-diamond{
  width: 120px;
  height: auto;

  overflow: visible;

  filter:
    drop-shadow(0 0 8px rgba(184,140,207,.7))
    drop-shadow(0 0 18px rgba(143,180,214,.45));

  transform: translateZ(0);
}

/* ===== TEXT ===== */

.loading-text{
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  pointer-events: none;
}

.loading-text span{
  display: inline-block;
  margin-right: 11px;
  color:#FFFFFF;
  font-size: 11px;
  font-family:var(--eng);
  transition: transform .25s ease;
}

.loading-text span:last-child{
  margin-right: 0;
}

/* ===== STAR ===== */

.star {
   position: absolute;
   border-radius: 50%;
   opacity: 0; 
   will-change: transform, opacity;
   animation: twinkle var(--twinkleDur) ease-in-out infinite;
   z-index:-999;
}

#starlayer {
  position: fixed;   /* ← 画面に固定 */
  inset: 0;          /* 上下左右いっぱい */
  pointer-events: none;
  -webkit-mask-image: linear-gradient(
    to bottom,
    #000 0%,
    #000 30%,
    rgba(0,0,0,0.6) 45%,
    rgba(0,0,0,0.2) 55%,
    transparent 70%
  );
  mask-image: linear-gradient(
    to bottom,
    #000 0%,
    #000 30%,
    rgba(0,0,0,0.6) 45%,
    rgba(0,0,0,0.2) 55%,
    transparent 70%
  );
  z-index: 1;       /* 背景にする */
}

@keyframes twinkle {
  0%   { opacity: 0;   transform: scale(.6); }
  20%  { opacity: .4;  transform: scale(.9); }
  50%  { opacity: 1;   transform: scale(1.2); }
  80%  { opacity: .5;  transform: scale(.9); }
  100% { opacity: 0;   transform: scale(.6); }
}

@keyframes drift {
  from { transform: translateX(0); }
  to   { transform: translateX(-40px); }
}

/* ===============================
   BUTTON BASE
================================ */
.hbg {
  width:50px;
  height:50px;
  position: fixed;
  top:20px;
  left:20px;
  display:flex;                 /* ←ここ重要 */
  align-items:center;
  justify-content:center;

  cursor:pointer;
  z-index:999;
  user-select:none;
}

/* ===============================
   WRAP
================================ */
.logo-wrap{
  width:52px;
  height:52px;
  display:flex;
  align-items:center;
  justify-content:center;
  background: linear-gradient(
  to bottom,
  rgba(160,200,255,0.11),
  rgba(120,90,200,0.16)
);
backdrop-filter: blur(12px) saturate(110%);
-webkit-backdrop-filter: blur(12px) saturate(110%);
box-shadow:
  0 10px 30px rgba(0,0,0,.22),
  0 0 35px rgba(120,140,255,.08),
  inset 0 0 30px rgba(255,255,255,.05);
border-radius: 14px;
  position:relative;
}
.logo-wrap::after{
  content:"";
  position:absolute;
  inset:0;
  border-radius:inherit;
  background: radial-gradient(
    circle at 50% 45%,
    rgba(255,255,255,0.05),
    transparent 65%
  ); 
  border-top: 1px solid rgba(255,255,255,0.06);
  pointer-events:none;
}

/* ===============================
   SVG BASE
================================ */
.logo{
  position:absolute;
  width:37px;
  height:37px;
  transform-origin:center; 
  filter:
    drop-shadow(0 0 4px rgba(56,168,188,.25));
  transition: opacity .45s ease, transform .45s ease;
  pointer-events:none;
}

/* ===============================
   INITIAL STATE
================================ */
.logo-open{
  opacity:1;
  transform:scale(1.03);
  top:1px;
  left:4px;
}

.logo-close{
  opacity:0;
  transform:scale(.85) translateX(-1px);
  top:1px;
  left:4px;
}

/* ===============================
   TOGGLE STATE
================================ */
.toggle:checked + .hbg .logo-open{
  opacity:0;
  transform:scale(.85) ;
}

.toggle:checked + .hbg .logo-close{
  opacity:1;
  transform:scale(1);
}

/* ===============================
   LABEL TEXT
================================ */
.logo-wrap::before{
  content:"OPEN";
  position:absolute;
  bottom:4px;
  width:100%;
  left:50%;
  transform:translateX(calc(-50% + 1px));
  font-family:var(--eng);
  font-weight:300;
  font-size:8px;
  letter-spacing:2px;
  text-shadow:0 0 1px;
  color:var(--white);
  pointer-events:none;
  transition:opacity .3s ease;
}

.toggle:checked + .hbg .logo-wrap::before{
  content:"CLOSE";
}

/* ===============================
   CONTENT PANEL
================================ */
.content{
  position:fixed;
  inset:0;
  height:100dvh;
  background: linear-gradient(
     160deg,
     rgba(170,220,255,0.12),
     rgba(120,90,200,0.22)
  );
  backdrop-filter: blur(4px) saturate(100%);
  -webkit-backdrop-filter: blur(4px) saturate(100%);
  padding:86px 20px 30px;
  visibility:hidden;
  opacity:0;
  transition:opacity .6s ease;
  z-index:900;
}

.toggle:checked ~ .content{
  visibility:visible;
  opacity:1;
}

.header {
   position: relative;
   width: 100%;
   transition: all 1s ease;
}

h2,h5,h6 * {
   position: relative;
   display: block;
   color:transparent !important;
   text-align: center;
   font-size: 9.2px;
   border:none;
}

hn {
  color: inherit;
  font-size: inherit;
  background:
    radial-gradient(circle,
      rgba(255,240,255,.95) 0px,
      rgba(184,140,207,.9) .2px,
      rgba(184,140,207,.5) .4px,
      rgba(143,180,214,.25) .6px,
      transparent .8px
    );
  background-size: 4px 3px;
  background-repeat: repeat-x;
  background-position: 0 96%;
  padding-bottom: 3px;
}

dr {
  color: inherit !important;
  font-size: inherit;
  background:
  radial-gradient(circle,
    rgba(235,245,255,.9) 0px,
    rgba(143,180,214,.8) .2px,
    rgba(143,180,214,.4) .4px,
    rgba(111,159,201,.18) .6px,
    transparent .8px
  );
   background-size: 4px 3px; 
   background-repeat: repeat-x;
   background-position: 0 96%;
   padding-bottom: 3px;
}

bks {
   display:inline;
   filter:blur(2.2px); 
   drop-shadow(0 0 6px rgba(255,255,255,.25));
}

.hnjs,
.drjs{
  position: relative; 
  opacity:.8;
}

.hnjs {
  font-size: inherit;
  color: #b88ccf;
  text-shadow:
    0 0 2px #b88ccf,
    0 0 4px #b88ccf,
    0 0 8px #b88ccf,
    0 0 14px rgba(184,140,207,.7);
  letter-spacing:.04em;
}

.drjs {
  font-size:inherit;
  color: #8fb4d6;
  text-shadow:
    0 0 2px #8fb4d6,
    0 0 4px #8fb4d6,
    0 0 8px #8fb4d6,
    0 0 14px rgba(143,180,214,.7);
  letter-spacing:.04em;
}

.name-icon{
  position: absolute;
  top: 0;
  pointer-events: none;
  overflow:visible;
}

.hnjs .name-icon {
  left: -63px;
  filter:
    drop-shadow(0 0 3px rgba(var(--hn-rgb),0.27))
    drop-shadow(0 0 6px rgba(var(--hn-rgb),0.33));
}

.drjs .name-icon {
  left: -63px;
  filter:
    drop-shadow(0 0 3px rgba(var(--dr-rgb),0.27))
    drop-shadow(0 0 6px rgba(var(--dr-rgb),0.33));
  top:-2px;
}


/* ===== base ===== */
.diary-header {
  position: relative;
  display: flex;
  align-items: center;
  top:18px;
  padding: 17px 28px 16px 60px;
  letter-spacing:.2em;
  font-family:var(--eng),var(--main);
  font-weight:300 !important;
  line-height:1.3;
  text-transform: uppercase; 
}

/* ===== 霧 ===== */
.diary-header::before {
  content: "";
  position: absolute;
  top: -17px;     /* ← ここで自由に動く */
  bottom: -6px;
  left: -28px;
  right: -28px;
  z-index: -1;
  background: radial-gradient(
    ellipse at 50% 50%,
    color-mix(in srgb, var(--accent) 25%, transparent),
    transparent 72%
  );
  filter: blur(11px);
  opacity: .6;
  transform: scale(1.1, 1);
  pointer-events: none;
}

/* ===== 名前（濃い白） ===== */
.diary-header {
  color: rgba(255,255,255,.9);
  font-size: 10px;
}

/* ===== 日付（薄い白） ===== */
.diary-header span {
  display:block;
  color: rgba(255,255,255,.32);
  font-family: var(--eng),var(--main);
  font-weight:300 !important;
  font-size: 8.5px;
  letter-spacing:0.23em;
}

/* ===== HN/DR 切替 ===== */
.diary-header.hn {
   --accent: var(--hn);
}
.diary-header.dr { 
   --accent: var(--dr); 
}
.diary-header.two {
   --accent: #fac9e5;
   font-family:var(--main) !important;
   letter-spacing:.11em;
}
.diary-header.two span {
   font-family:var(--main) !important;
   letter-spacing:.09em;
}

/* ===== お触り禁止 ===== */
.post-header a.has-gem {
  position: relative;
  z-index: 10;
}

/* =========================
   GEM LINK
========================= */

a[href*="edit.php"].has-gem {
  top:45px;
  width: 39px;
  height: 39px;
  display: inline-block;   /* ← ここ重要 */
  font-size: 0;
}

/* =========================
   SVG
========================= */

a[href*="edit.php"].has-gem svg {
  width: 39px;
  height: 39px;
  pointer-events: none;
}

a.has-gem.hn-gem {
  filter:
    drop-shadow(0 0 4px rgba(184,140,207,0.35))
    drop-shadow(0 0 8px rgba(184,140,207,0.25));
}

a.has-gem.dr-gem {
  filter:
    drop-shadow(0 0 4px rgba(143,180,214,0.35))
    drop-shadow(0 0 8px rgba(143,180,214,0.25));
}

a.has-gem.etc-gem svg {
  filter:
    drop-shadow(0 0 4px rgba(184,140,207,0.45))
    drop-shadow(0 0 8px rgba(143,180,214,0.35));
  transform:scale(1.3);
}

/* =========================
   DIARY
========================= */

[id^="post-"] {
  position: relative;
  letter-spacing: 0.05em;
  line-height: 2;
  display: block;
  margin:0;
  padding:0 0 45px;
  color: var(--white) !important;
  background: linear-gradient(
  to bottom,
  rgba(160,200,255,0.11),
  rgba(120,90,200,0.16)
);
backdrop-filter: blur(5px) saturate(110%);
-webkit-backdrop-filter: blur(5px) saturate(110%);
box-shadow:
  0 10px 30px rgba(0,0,0,.22),
  0 0 35px rgba(120,140,255,.08),
  inset 0 0 30px rgba(255,255,255,.05);
border-radius: 28px;
  overflow:hidden;

   /* ▼ ここからフェード用追加 */
   opacity:0;
   transform:translateY(70px) scale(.94);
   filter:blur(8px);
   transition:
     opacity .9s cubic-bezier(.22,.8,.2,1),
     transform .9s cubic-bezier(.22,.8,.2,1),
     filter .9s cubic-bezier(.22,.8,.2,1);
   will-change:opacity, transform, filter;
  z-index:10;
}

[id^="post-"]::after{
  content:"";
  position:absolute;
  inset:0;
  border-radius:inherit;
  background: radial-gradient(
    circle at 50% 45%,
    rgba(255,255,255,0.05),
    transparent 65%
  ); 
  border-top: 1px solid rgba(255,255,255,0.06);
  pointer-events:none;
}

[id^="post-"].is-visible{
   opacity:1;
   transform:translateY(0) scale(1);
   filter:blur(0);
}

[id^="post-"] + hr {
  display:none;
}

[id^="post-"] + hr + [id^="post-"] {
  margin-top: 50px;
  border-top: none;
  position: relative;
}


/* ===== box ===== */

.box {
  font-size: 8.8px;
  overflow-y: auto;
  overflow-x: visible;
  padding: 0 24px 0 24px;
  text-align: justify;
  max-height: 380px;
  width: 100%; 
  scroll-behavior: smooth;          /* ネイティブsmoothスクロールを有効に */
  -webkit-overflow-scrolling: touch; /* iOSで滑らかに */
}

/* =========================
   DIARY DETAILS
========================= */

.diary-acc{
  position:relative;
  margin:16px 0;
  overflow:hidden;
  background:transparent;
  transition:background .6s ease;
}

/* 開いた時だけ面を出す */
.diary-acc[open]{
  background:rgba(255,255,255,.04);
}

/* =================================
   左の縦ライン（開いた時のみ）
================================= */

.diary-acc::before{
  content:"";
  position:absolute;
  left:0;
  top:0;
  bottom:0;
  width:1px;
  background:linear-gradient(
    to bottom,
    rgba(184,140,207,.6),
    rgba(143,180,214,.6)
  );
  opacity:0;
  transition:.6s ease;
  pointer-events:none;
}

.diary-acc[open]::before{
  opacity:.9;
  box-shadow:0 0 12px rgba(184,140,207,.4);
}

/* =================================
   滲み背景
================================= */

.diary-acc::after{
  content:"";
  position:absolute;
  inset:0;
  opacity:0;
  background:radial-gradient(
    circle at 50% 130%,
    rgba(143,180,214,.18),
    transparent 70%
  );
  transition:.6s ease;
  pointer-events:none;
}

.diary-acc[open]::after{
  opacity:1;
}

/* =================================
   summary
================================= */

.diary-acc summary{
  position:relative;
  display:inline-flex; /* 文字幅にする */
  padding:8px 18px;
  gap:4px;
  cursor:pointer;
  letter-spacing:.2em;
  list-style:none;
}

.diary-acc[open] summary {
  text-shadow:0 0 3px;
}

.diary-acc summary::-webkit-details-marker{display:none;}
.diary-acc summary::marker{display:none;}

/* =================================
   文字を囲うグラデライン（閉じてる時）
================================= */

.diary-acc summary::before{
  content:"";
  position:absolute;
  inset:0;

  background:linear-gradient(
    135deg,
    rgba(184,140,207,.8),
    rgba(143,180,214,.8)
  );

  padding:1px; /* 線の太さ */

  /* 枠だけ表示するためのマスク */
  -webkit-mask:
    linear-gradient(#000 0 0) content-box,
    linear-gradient(#000 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;

  opacity:.9;
  transition:.6s ease;
  pointer-events:none;
}

/* 開いたら溶けて消える */
.diary-acc[open] summary::before{
  opacity:0;
  transform:scale(1.15);
  filter:blur(4px);
}

/* =================================
   右アイコン（after）
================================= */

.diary-acc summary::after{
  content:"\e308";
  font-family:'Phosphor-Bold';
  position:relative;
  font-size:9.6px;
  transition:.5s ease;
}

.diary-acc[open] summary::after{
  content:"\e30a";
}

/* =================================
   本文
================================= */

.diary-acc .acc-inner{
  padding:0 18px 14px 18px;
  opacity:0;
  transform:translateY(6px);
  transition:opacity .5s ease, transform .5s ease;
  margin-top:-8px;
  line-height:2.1;
  font-size:8.4px !important;
  letter-spacing:.2em;
}

.diary-acc[open] .acc-inner{
  opacity:1;
  transform:none;
}


/* =========================
        Q&A DETAILS
========================= */

.qa-acc{
  position:relative;
  margin:16px 0;
  overflow:hidden;
  background:transparent;
  transition:background .6s ease;
}


/* =================================
   summary
================================= */

.qa-acc summary{
  position:relative;
  display:flex;
  align-items:center;
  gap:14px;
  padding:0;
  line-height:1.8;
  font-size:8.8px;
  list-style:none;
  color:var(--white);
}

.qa-acc[open] summary {
  text-shadow:0 0 3px;
}

.qa-acc summary::-webkit-details-marker{display:none;}
.qa-acc summary::marker{display:none;}

/* =================================
          Q と A の切り替え
================================= */

.qa-acc summary::before{
  content:"Q";
  width:40px;
  height:40px;
  flex-shrink:0;
  display:grid;
  place-items:center;
  color:var(--white);
  background:linear-gradient(
    135deg,
    rgba(184,140,207,.3),
    rgba(143,180,214,.3)
  );
  text-shadow:
    0 0 4px rgba(184,140,207,.9),
    0 0 8px rgba(184,140,207,.7),
    0 0 14px rgba(143,180,214,.8),
    0 0 22px rgba(143,180,214,.6);
  font-size:11px;
}

.qa-acc[open] summary::before{
  content:"A";
}

/* =================================
   本文
================================= */

.qa-acc .acc-inner{
  position:relative;
  opacity:0;
  max-height:0;
  overflow:hidden;
  transition:
    opacity .4s ease,
    max-height .5s ease,
    transform .4s ease;
  transform:translateY(6px);
  line-height:2.1;
  margin-top:5px;
  padding:11px 17px;
  background: transparent;
  font-size:8.4px !important;
  letter-spacing:.2em;
}

.qa-acc[open] .acc-inner{
  background:rgba(255,255,255,.04);
  opacity:1;
  max-height:800px;
  transform:translateY(0);
}

.qa-acc .acc-inner::after{
  content:"";
  position:absolute;
  inset:0;
  opacity:0;
  background:radial-gradient(
    circle at 50% 130%,
    rgba(143,180,214,.18),
    transparent 70%
  );
  transition:.6s ease;
  pointer-events:none;
}

.qa-acc[open] .acc-inner::after {
  opacity:1;
}

.qa-acc .acc-inner hnp { 
  text-shadow:
    0 0 2px #b88ccf,
    0 0 4px #b88ccf,
    0 0 8px #b88ccf,
    0 0 14px rgba(184,140,207,.7);
}
.qa-acc .acc-inner drp {
  text-shadow:
    0 0 2px #8fb4d6,
    0 0 4px #8fb4d6,
    0 0 8px #8fb4d6,
    0 0 14px rgba(143,180,214,.7);
}

/* =========================
       私信 DETAILS
========================= */

.mail-acc{
  position:relative;
  margin:16px 0;
  overflow:hidden;
  background:transparent;
  transition:background .6s ease;
}


/* =================================
   summary
================================= */

.mail-acc summary{
  position:relative;
  display:flex;
  align-items:center;
  gap:14px;
  padding:0;
  line-height:1.8;
  font-size:8.8px;
  list-style:none;
  color:var(--white);
}

.mail-acc[open] summary {
  color:rgb(255,255,255,.25);
}

.mail-acc summary::-webkit-details-marker{display:none;}
.mail-acc summary::marker{display:none;}

/* =================================
          Q と A の切り替え
================================= */

.mail-acc summary::before{
  content:"\E214";
  font-family:'Phosphor-Thin';
  flex-shrink:0;
  width:32px;
  height:32px;
  background:transparent;
  display:grid;
  place-items:center;
  color:var(--white);
  text-shadow:
    0 0 2px #b88ccf,
    0 0 4px #b88ccf,
    0 0 8px #b88ccf,
    0 0 14px rgba(184,140,207,.7);
  font-size:14px;
  transform:rotate(20deg);
  transition:.6s ease;
}

.mail-acc[open] summary::before{
  content:"\E216";
  text-shadow:
    0 0 2px #8fb4d6,
    0 0 4px #8fb4d6,
    0 0 8px #8fb4d6,
    0 0 14px rgba(143,180,214,.7);
  transform:rotate(-20deg);
  transition:.6s ease;
}

/* =================================
   本文
================================= */

.mail-acc .acc-inner{
  position:relative;
  opacity:0;
  max-height:0;
  transition:
    opacity .4s ease,
    max-height .5s ease,
    transform .4s ease;
  transform:translateY(6px);
  line-height:2.1;
  margin:5px 0 0 33px;
  padding:11px 17px;
  background: transparent;
  font-size:8.4px !important;
  letter-spacing:.2em;
  pointer-events:auto;
}

.mail-acc[open] .acc-inner{
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);
  background: rgba(255,255,255,0.04); 
  opacity:1;
  max-height:800px;
  transform:translateY(0);
}

.mail-acc .acc-inner::after{
  content:"";
  position:absolute;
  inset:0;
  opacity:0;
  background:radial-gradient(
    circle at 50% 130%,
    rgba(143,180,214,.18),
    transparent 70%
  );
  transition:.6s ease;
  pointer-events:none;
}

.mail-acc[open] .acc-inner::after {
  opacity:1;
}

.mail-acc .acc-inner::before{
  content:"";
  position:absolute;
  left:-15px;
  top:0;
  bottom:0;
  width:1px;
  background:linear-gradient(
    to bottom,
    rgba(184,140,207,.6),
    rgba(143,180,214,.6)
  );
  opacity:0;
  transition:.6s ease;
  pointer-events:none;
}

.mail-acc[open] .acc-inner::before{
  opacity:.9;
  box-shadow:0 0 12px rgba(184,140,207,.4);
}

/* =========================
         DIARY LINE
========================= */

.diary-divider{
  position:relative;
  height:60px;          /* 上30px + 下30px */
  margin:0;
}

.diary-divider::before{
  content:"\E6A4  \E6A4  \E6A4";
  font-family:'Phosphor-Thin';
  font-size:8px;
  letter-spacing:7px;
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  white-space:nowrap;
  filter:blur(.05px);
}

.diary-divider.hn::before{
  color:var(--white);
  text-shadow:0 0 3px var(--hn), 0 0 6px var(--hn), 0 0 12px var(--hn);
}

.diary-divider.dr::before{
  color:var(--white);
  text-shadow:0 0 3px var(--dr), 0 0 6px var(--dr), 0 0 12px var(--dr);
}

.log{
  display:flex;
  flex-direction:column;
  gap:15px;
  font-size:12px;
  margin:14px 0;
}

.log-item{
  display:grid;
  grid-template-columns:70px 1fr;
  position:relative;
  padding-left:18px;
}

.log-item::before{
  content:"";
  position:absolute;
  left:1px;
  top:0;
  width:1px;
  height:100%;
}

.log-name{
  opacity:1;
  letter-spacing:.15em;
  word-break:break-word;
  text-shadow:0 0 3px;
  text-transform:uppercase;
  line-height:1.7;
}

.log-body{
  line-height:1.8;
  opacity:.8;
}

/* 色拡張 */
.log-item.hn::before{
  background:var(--hn);
  box-shadow:0 0 12px rgba(var(--hn-rgb),.8);
}

.log-item.dr::before{
  background:var(--dr);
  box-shadow:0 0 12px rgba(var(--dr-rgb),.8);
}

.log-item.ye::before{
  background:#d6dc8a; /* くすみイエロー */
  box-shadow:0 0 10px rgba(214,220,138,.45);
}

.log-item.pn::before{
  background:#d79ac6; /* くすみピンク（hnと相性◎） */
  box-shadow:0 0 10px rgba(215,154,198,.45);
}

.log-item.gr::before{
  background:#9fc8a6; /* セージ寄りグリーン */
  box-shadow:0 0 10px rgba(159,200,166,.45);
}

.log-item.or::before{
  background:#d79a82; /* くすみコーラル */
  box-shadow:0 0 10px rgba(215,154,130,.45);
}

.log-item.rd::before{
  background:#c97a96;
  box-shadow:0 0 12px rgba(201,122,150,.45);
}

.music-ui{
  width:80%;
  margin:20px auto 0;
  text-align:center;
}

/* タイトル */
.music-title{
  font-size:9.2px;
  letter-spacing:.25em;
  margin-bottom:8px;
}

/* アーティスト */
.music-artist{
  font-size:8.2px;
  letter-spacing:.25em;
  margin-top:8px;
  opacity:.7;
}

/* 音程バー */
.music-bar{
  width:100%;
  height:1px;
  margin:0 auto;
  position:relative;
  overflow:hidden;
  border-radius:2px;
}

/* バーの中身（動く部分） */
.music-bar::before{
  content:"";
  position:absolute;
  top:0;
  left:-50%;
  width:50%;
  height:100%;
  animation:wave 2.5s linear infinite;
}

/* 横移動アニメ */
@keyframes wave{
  from{ left:-50%; }
  to{ left:100%; }
}

/* ===== dr版 ===== */

.music-ui.dr .music-title{
  color: var(--white);
  text-shadow:
    0 0 6px rgba(var(--dr-rgb), .7),
    0 0 18px rgba(var(--dr-rgb), .35);
}

.music-ui.dr .music-artist{
  color: var(--white);
}

.music-ui.dr .music-bar{
  background: rgba(var(--dr-rgb), .18);
}

.music-ui.dr .music-bar::before{
  background: linear-gradient(
    90deg,
    transparent,
    rgba(var(--dr-rgb), .85),
    transparent
  );
}


/* ===== hn版 ===== */

.music-ui.hn .music-title{
  color: var(--white);
  text-shadow:
    0 0 6px rgba(var(--hn-rgb), .7),
    0 0 18px rgba(var(--hn-rgb), .35);
}

.music-ui.hn .music-artist{
  color: var(--white);
}

.music-ui.hn .music-bar{
  background: rgba(var(--hn-rgb), .18);
}

.music-ui.hn .music-bar::before{
  background: linear-gradient(
    90deg,
    transparent,
    rgba(var(--hn-rgb), .85),
    transparent
  );
}


/* ===== WRAPPER ===== */
.book-wrapper{
  position:relative;
  width:100%;
  height:400px;
  margin:auto;
}

/* ===== BOOK ===== */
.book{
  width:100%;
  height:100%;
  overflow-x:auto;
  overflow-y:hidden;
  scroll-snap-type:x mandatory;
  scroll-behavior:smooth;
  background: linear-gradient(
     160deg,
     rgba(170,220,255,0.12),
     rgba(120,90,200,0.22)
  );
  backdrop-filter: blur(4px) saturate(100%);
  -webkit-backdrop-filter: blur(4px) saturate(100%);
  box-shadow:
  0 40px 80px rgba(0,0,0,.45),
  0 0 60px rgba(56,168,188,.08),
  0 0 80px rgba(241,14,105,.06);
  border-radius:14px;
}

/* scrollbar非表示 */
.book::-webkit-scrollbar{
  display:none;
}

/* ===== PAGES ===== */
.pages{
  display:flex;
  height:100%;
}

.page{
  flex:0 0 100%;
  height:100%;
  scroll-snap-align:start;
  padding:27px;
  text-align:justify;
  box-sizing:border-box;
  color:var(--white);
  font-size:8.8px;
  font-weight:300 !important;
  overflow-y:auto;
}

.page p{
  display:block;
  margin:5px 0 5px 0;
  font-family:'Zen Maru Gothic';
  font-weight:400;
  padding: 2px 0 2px 15px;
  font-size:9px;
  line-height:1;
  border-left:1.4px solid rgba(255,255,255,1);
  color: rgba(255,255,255,1);
  text-shadow:0 0 7px rgba(255,255,255,.35), 0 0 14px rgba(255,255,255,.35);
  letter-spacing:.3em;
}

.page aside{
  display:block;
  margin:40px 0 0 0;
  padding:15px 20px;
  border-left:1.4px solid rgb(255,255,255,1);
   backdrop-filter: blur(14px);
   -webkit-backdrop-filter: blur(14px);
   background: rgba(255,255,255,0.04); 
   background-image:
    linear-gradient(rgba(255,255,255,0.05) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255,255,255,0.05) 1px, transparent 1px);
  background-size: 5px 5px;
  }

/* ===== PAGER ===== */
.pager{
  position:absolute; /* wrapper基準 */
  bottom:-30px;
  left:50%;
  transform:translateX(-50%);
  display:flex;
  gap:8px;
  z-index:10;
}

.pager span{
  position:relative;
  width:17px;
  height:17px;
  transition:0.3s;
} 
.pager span::before{
  content:'\e6a4';
  position:absolute;
  font-family:"Phosphor-Thin";
  font-size:12px;
  color:rgba(255,255,255,.4);
  transition:0.3s;
}

.pager span.active::before{
  content:'\e6a4';
  position:absolute;
  font-family:"Phosphor-Bold";
  font-weight:unset !important;
  font-size:12px;
  color:var(--white);
  text-shadow:0 0 6px rgba(255,255,255,0.8);
}

.page a {
   display:block;
   margin:3px 0;
   padding:6px 11px;
   border: 1px solid rgb(255,255,255,.09);
   position: relative;
   text-align:center;
   backdrop-filter: blur(14px);
   -webkit-backdrop-filter: blur(14px);
   background: rgba(255,255,255,0.04); 
   background-image:
    linear-gradient(rgba(255,255,255,0.05) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255,255,255,0.05) 1px, transparent 1px);
  background-size: 5px 5px;
   border-radius: 14px;
   color: var(--white) !important;
   margin:10px 0;
   font-size:9px !important;
}

.page a:hover {
  border: 1px solid rgb(255,255,255,.09);
  background:rgb(255,255,255,.3);
  color:transparent !important;
   backdrop-filter: blur(14px);
   -webkit-backdrop-filter: blur(14px);
   background-image:
    linear-gradient(rgba(255,255,255,0.05) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255,255,255,0.05) 1px, transparent 1px);
  background-size: 5px 5px;
  text-shadow:0 0 20px var(--white);
  filter:blur(0px);
}

.page a:hover::after{
  content:"[ ACTIVE NODE ]";
  position: absolute;
  inset: 0;                 /* 全面に広げる */
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing:0.3em;
  font-size:9px;
  color:var(--white);
  text-shadow: 0 0 5px var(--white);
}

.page a::before {
  content:none !important;
}

.page a > * {
  position: relative;
  z-index: 1;
}

textarea {
   color:var(--black) !important;
}

.post-height,
.post-number {
  visibility: hidden;
}

.thread-settings {
  position:relative;
  margin:0 7px;
  }

.thread-settings a::before {
  visibility: visible;
  position: absolute;
  left:0;
  font-family: 'Phosphor-Thin';
  content: '\e270';
  font-size: 13px;
}

/* =========================
   POST HEADER LAYOUT
========================= */

.post-header {
  display:flex;
  align-items:center;
}

/* =========================
   DATE + GEM
========================= */

.post-date {
  display:flex;
  align-items:center; 
  font-size: 0;
}

.post-content > .diary-header {
  display:inline-block;
  margin-left:16px;
}

.post-content{
  margin-top:-30px;
}

.post-content > .box{
  margin-top:20px;
}

.post-date a {
  font-size: 9px;
  visibility: visible;
}


.post-header > span:not(.post-date) {
  display: none;
}

[class*="new" i],
[class*="New" i],
[class*="NEW" i],
.new {
  display: none;
}


a[href*="#tweet"] {
  visibility: hidden;
}

a[href*="#bottom"] {
   font-size: 0;
}

a[href*="#bottom"]::before {
   position: relative;
   font-family: 'Phosphor-Thin';
   color: var(--white) !important;
   content: '\e126';
   margin:0 6px;
   font-size: 13px;
}

a[href*="#top"] {
   font-size: 0;
}

a[href*="#top"]::before {
   position: relative;
   font-family: 'Phosphor-Thin';
   color: var(--white) !important;
   content: '\e12c';
   margin:0 6px;
   font-size: 13px;
   visibility: visible;
}

a[href*="tweet_edit.php"] {
  visibility: hidden;
  position:relative;
}

a[href*="tweet_edit.php"]::before {
  visibility: visible;
  position: relative;
  right:-20px;
  top: -2px;
  text-shadow:0 0 3px;
  font-family: 'Phosphor-Thin';
  content: '\e42c';
  font-size: 11px;
  color:var(--white);
  opacity:0.68;
  text-shadow:0 0 3px;
}

@keyframes swingVertical {
   15% { transform: translateY(6px) }
   30% { transform: translateY(-6px) }
   50% { transform: translateY(4px) }
   65% { transform: translateY(-2px) }
   80% { transform: translateY(2px) }
   100% { transform: translateY(0) }
}


.js-iconl {
  font-family: "Phosphor-Thin" !important;
  font-size: 13px;
  margin:0 6px;
  color:#ffffff;
  vertical-align: middle;
  pointer-events: none;
}

/*  ツイートネーム  */
input[name="name"],
input[placeholder*="名 前"],
input[id*="name"] {
  background: rgb(255,225,255,.2) !important;
  color: var(--white) !important;
  padding: 12px !important;
  font-size: 10px !important;
  backdrop-filter: blur(4px) saturate(150%);
  -webkit-backdrop-filter: blur(4px) saturate(150%);
}

/*  ツイートパスワード②  */
input[name="editpass"],
input[name="edit_pass"],
input[name="edit_password"],
input[name="delpass"],
input[placeholder*="編集パス"],
input[placeholder*="編集用パス"] {
  background: rgb(255,225,255,.2) !important;
  color: var(--white) !important;
  padding: 12px !important;
  font-size: 10px !important;
  backdrop-filter: blur(4px) saturate(150%);
  -webkit-backdrop-filter: blur(4px) saturate(150%);
}

/*  ツイートパスワード①  */
input[name="pass"],
input[name="password"],
input[name="pwd"],
input[name="postpass"],
input[name="key"],
input[placeholder*="書込パス"],
input[placeholder*="投稿パス"],
input[placeholder*="書込用パス"] {
  background: rgb(255,225,255,.2) !important;
  color: var(--white) !important;
  padding: 12px !important;
  font-size: 10px !important;
  backdrop-filter: blur(4px) saturate(150%);
  -webkit-backdrop-filter: blur(4px) saturate(150%);
}

/*  ツイートメッセージ   */
textarea[name="msg"],
textarea[placeholder*="いまなにしてる"],
textarea {
  background: rgb(255,225,255,.2) !important;
  color: var(--white) !important;
  min-height: 80px !important;
  padding: 12px !important;
  font-size: 10px !important;
  backdrop-filter: blur(4px) saturate(150%);
  -webkit-backdrop-filter: blur(4px) saturate(150%);
}

/* ===============================
   TWEET FORM BUTTONS ONLY
   =============================== */

/* チェック行の親 */
#tweetForm > div:last-of-type {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0;
}

/* 右側（注意文＋ボタン） */
#tweetForm > div:last-of-type > div {
  display: flex;
  align-items: center;
  gap: 16px;
}

/* 注意文は少し控えめ */
#tweetForm span {
  font-size: 12px;
  opacity: .6;
}

/* チェックと右側を横並び */
#tweetForm > div:nth-of-type(2) {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0;
}

/* 右側（注意文＋ボタン）を横並び */
#tweetForm > div:nth-of-type(2) > div {
  display: flex;
  align-items: center;
  gap: 16px;
}

/* 共通（この2つだけに限定） */
#cancel-tweet-form.btn,
button[type="submit"].btn {
  /* サイズ固定 */
  height: 26px;
  padding: 0 10px;
  max-width: 110px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 9.1px !important;
  font-weight: 600;
  line-height: 1;
  letter-spacing: .05em;
  box-sizing: border-box;
  /* ガラス */
  background: linear-gradient(
    to bottom,
    rgba(143,180,214,0.12),
    rgba(184,140,207,0.18)
  );
  backdrop-filter: blur(12px) saturate(110%);
  -webkit-backdrop-filter: blur(12px) saturate(110%);
  border-radius: 18px;
  border:none;
  color: var(--white);
  cursor: pointer;
  transition: .3s ease;
}

/* ===============================
   HOVER
   =============================== */

#cancel-tweet-form.btn:hover,
button[type="submit"].btn:hover {

  transform: translateY(-2px);

  box-shadow:
    0 14px 40px rgba(0,0,0,.28),
    0 0 45px rgba(184,140,207,.18),
    inset 0 0 30px rgba(255,255,255,.08);
}

/* ===============================
   ACTIVE
   =============================== */

#cancel-tweet-form.btn:active,
button[type="submit"].btn:active {

  transform: translateY(0);

  box-shadow:
    0 6px 18px rgba(0,0,0,.25),
    inset 0 0 25px rgba(255,255,255,.06);
}

/* ===============================
   OPTIONAL：主従差を出すなら
   =============================== */

/* つぶやくを少し強めに */
button[type="submit"].btn {
  box-shadow:
    0 10px 30px rgba(0,0,0,.22),
    0 0 40px rgba(184,140,207,.16),
    inset 0 0 30px rgba(255,255,255,.05);
}


/*  閲覧パスワード  */
input[placeholder*="閲覧パスワード"] {
  background: rgb(255,225,255,.2) !important;
  color: var(--white) !important;
  padding: 12px !important;
  font-size: 10px !important;
  border:none;
  text-shadow:0 0 3px rgb(0,0,0,.15);
  backdrop-filter: blur(4px) saturate(150%);
  -webkit-backdrop-filter: blur(4px) saturate(150%);
}

form {
  color:var(--white) !important;
}

form p,form span{
  color:var(--white) !important;
}


#tweets h2 {
  display:none;
}
#tweets {
  margin:0 0 15px 0;
  background: linear-gradient(
  to bottom,
  rgba(160,200,255,0.11),
  rgba(120,90,200,0.16)
);

backdrop-filter: blur(5px) saturate(110%);
-webkit-backdrop-filter: blur(5px) saturate(110%);

box-shadow:
  0 10px 30px rgba(0,0,0,.22),
  0 0 35px rgba(120,140,255,.08),
  inset 0 0 30px rgba(255,255,255,.05);

border-radius: 28px;
  position:relative;
  z-index:10;
}

.tweets-container {
  width: 100%;
}

/* ===== 2 COLUMN ROOT ===== */

.tweets-columns {
  width: 100%;
  display: flex;
  gap: 18px;
  align-items: flex-start;
}

/* ===== LEFT / RIGHT ===== */

.tweets-left,
.tweets-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 6px;
  position: relative;
  text-align:justify;
}

.tweets-left{
  padding-left:7px;
}

.tweets-right{
  padding-right:7px;
}

#tweets::after{
  content:"";
  position:absolute;
  inset:0;
  border-radius:inherit;
  background: radial-gradient(
    circle at 50% 45%,
    rgba(255,255,255,0.05),
    transparent 65%
  ); 
  border-top: 1px solid rgba(255,255,255,0.06);
  pointer-events:none;
}

}
#tweets a {
  color:var(--white);
  background:none !important;
}

.tweet-card {
  display: flex;
  flex-direction: column;
  position:relative;
  display:block;
  background:none !important;
  color: var(--white) !important ;
  padding:0 0px 0px 0px !important;
  border: 1px solid rgb(255,255,255,0) !important;
  font-size:9.5px !important ;
  cursor: pointer !important;
  width: 100%;
  box-sizing: border-box;
}

.tweet-card * {
  font-family:var(--main);
  letter-spacing:.1em;
  color:var(--white);
  line-height:1.9 !important;
}
.tweet-card span:nth-child(2n+1) {
  display:block;
  width:100%;
  font-family:var(--JPserif) !important;
  font-weight:300 !important;
  font-size:8.4px !important ;
  color: rgb(255,255,255,1)  ;
  letter-spacing:0.1em;
}
.tweet-card span:nth-child(2n) {
  font-family:var(--eng) !important;
  font-weight:300 !important;
  font-size:7.5px;
  margin:-6px 0 -4px;
  letter-spacing:.1em;
  color: rgb(255,255,255,.4) !important ;
}
.new-mark {
  display:none !important;
}

.text-center-mb {
  display:block;
  color:transparent;
  padding:10px 0 ;
  z-index:10;
}
.text-center-mb a {
  color:var(--white);
  font-size:0;
}

.res-wrapper > div > span > span {
  display:none;
} 
.res-wrapper > div > span:last-child {
  display: none;
}
.text-center-box#bottom {
  color:transparent;
}
.text-center-mb,
.container,
.res-wrapper,
.res-wrapper > div,
.post-content {
  border: none !important;
}
.text-center-box#bottom a {
  visibility: hidden;
  color:var(--white);
  font-size:0;
}
.tweet-card + .tweet-card {
  border-top: none;
  position: relative;
  margin-top: 4px;
}

.text-center-mb a:nth-of-type(2)::before,
.text-center-mb a:nth-of-type(3)::before,
.text-center-mb a:nth-of-type(4)::before,
.text-center-mb a:nth-of-type(5)::before,
.text-center-mb a:nth-of-type(6)::before,
.text-center-mb a:nth-of-type(7)::before {
  font-family:'Phosphor-Thin';
  font-size:13px;
  margin:0 6px;
  color:var(--white);
  position:relative;
  z-index:10;
}

.text-center-mb a:nth-of-type(2)::before, .text-center-box#bottom a:nth-of-type(2)::before {
  content:'\e138';
}

.text-center-mb a:nth-of-type(3)::before, .text-center-box#bottom a:nth-of-type(3)::before {
  content:'\e13a';
}

.text-center-mb a:nth-of-type(4)::before, .text-center-box#bottom a:nth-of-type(4)::before {
  content:'\e094';
}

.text-center-mb a:nth-of-type(5)::before, .text-center-box#bottom a:nth-of-type(5)::before {
  content:'\e096';
}

.text-center-mb a:nth-of-type(6)::before {
  content:'\e30c';
}

.text-center-mb a:nth-of-type(7)::before, .text-center-box#bottom a:nth-of-type(6)::before {
  content:'\e3ac';
}

.text-center-box#bottom a:nth-of-type(2)::before,
.text-center-box#bottom a:nth-of-type(3)::before,
.text-center-box#bottom a:nth-of-type(4)::before,
.text-center-box#bottom a:nth-of-type(5)::before,
.text-center-box#bottom a:nth-of-type(6)::before {
  font-family:'Phosphor-Thin';
  font-size:13px;
  margin:0 6px;
  color:var(--white);
  visibility:visible;
  position:relative;
  z-index:10;
}

#toggle-tweet-form {
  position: relative;
  width:22px;
  height:22px;
  font-size: 0; /* ← 元の「つぶやく」を消す */
  background:transparent !important;
  border-radius:14px;
  top:3px;
  left:0;
}

#toggle-tweet-form.btn {
  position:relative;
  display:block;
  background: transparent !important;
  margin: 5px 0 0 7px;
}

#toggle-tweet-form.btn::before {
  content: "\E17C"; /* ← 好きなアイコンコード */
  font-family: "Phosphor-Thin"; /* ← あなたが使ってるフォント名 */
  font-size: 14px; /* 表示サイズ */
  background: linear-gradient(
  135deg,
  var(--hn),
  var(--dr)
);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
color: transparent;
text-shadow:
  0 0 2px rgba(255,255,255,.5),
  0 0 6px rgba(184,140,207,.35),
  0 0 10px rgba(143,180,214,.25);
}


#tweet-form-container label span {
  font-size: 9px;
}

#tweet-form-container {
  margin:0 13px;
  padding-top:0;
  background:transparent;
}

#tweet-form-container div > span {
  display: none;
}

/* =========================
     TWEET FORM CUSTOM
========================= */

:root {
  --mid: #95609A; /* f10e69 と 38a8bc の中間 */
}

.tweet-input-compact {
  background:rgb(255,255,255,.15);
  backdrop-filter: blur(4px) saturate(150%);
  -webkit-backdrop-filter: blur(4px) saturate(150%);
  border-radius: 14px;
  padding: 4px 7px;
  color: #fff;
  transition: 0.3s;
}

.tweet-input-compact::placeholder {
  color: var(--mid);
  opacity: 0.6;
  font-size:9.5px;
  letter-spacing: 1px;
}

.tweet-input-compact:focus {
  outline: none;
  border: 1px solid var(--mid);
  border-radius: 14px;
  box-shadow: 0 0 6px rgba(149,96,154,0.25);
}

input[name="auto_delete"] + span {
  font-size: 9px;
  color: var(--mid);
  opacity: 0.7;
  transition: 0.3s;
}

input[name="auto_delete"]:checked + span {
  opacity: 1;
}

input[name="auto_delete"] {
  appearance: none;
  -webkit-appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 14px;
  border: 1px solid rgba(255,255,255,0.2);
  background: transparent;
  cursor: pointer;
  position: relative;
  transition: 0.3s;
  top:1px;
}

input[name="auto_delete"]:checked {
  border: var(--mid);
}

input[name="auto_delete"]:checked::after {
  content: "";
  position: absolute;
  width: 5px;
  height: 9px;
  border: solid white;
  border-width: 0 1px 1px 0;
  transform: rotate(45deg);
  left: 7px;
  top: 3px;
}

#tweets #tweet-form-container button.btn {
  background: rgba(255,255,255,0.15) !important;
}

#tweets-scroll-box {
   margin:10px 14px !important;
   padding:5px 0 0 0 !important; 
   background:none !important;
}

.tweets-container {
   width:100% !important;
   background:none !important;
}

.fade{
  opacity:0;
  transform:translateY(30px);
  transition:
    opacity .8s cubic-bezier(.22,.61,.36,1),
    transform .8s cubic-bezier(.22,.61,.36,1);
  will-change:opacity, transform;
}

.fade.is-visible{
  opacity:1;
  transform:translateY(0);
}

.menu-overlay .menu-nav a {
  color: #999999 !important;
}

.menu-overlay .menu-nav form button[type="submit"]{
  background: #FFFFFF;
  color: #cccccc;
  border: 1px solid #efefef;
  border-radius: 3px;
  cursor: pointer;
  box-shadow:none;
  transition: .25s ease;
  height:40px;
}

.menu-nav form button[type="submit"]:hover{
  filter: brightness(1.1);
}

.menu-nav form input {
  height: 40px;
  border: 1px solid #efefef;
  border-radius: 3px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

/* ===== カスタムバー ===== */

.custom-scrollbar{
  position: fixed;
  top: 0;
  right: 3px;
  width: 2px;
  height: 100vh;
  opacity: 0;
  transition: opacity .3s ease;
  pointer-events: none;
  z-index: 9999;
}

.custom-scrollbar.is-visible{
  opacity: 1;
}

.custom-thumb{
  position: absolute;
  width: 100%;
  border-radius: 10px;
  background:linear-gradient(180deg,var(--hn),var(--dr));
  border-radius:4px;
  box-shadow:
    0 0 6px rgba(184,140,207,.6),
    0 0 12px rgba(143,180,214,.6);
  opacity:.7;
}

.site-footer {
  position:relative;
  z-index:10;
  letter-spacing:3px;
  color:var(--white) !important;
}

#system-footer-nav {
  position: relative;
  z-index: 10;
}

#system-footer-nav a {
  font-size:0;
}

#system-footer-nav a::before {
  content:'一覧に戻る';
  letter-spacing:0.1em;
  font-size:9px;
  top:0;
}

#system-footer-nav,
.footer-link,
.site-footer{
  margin:0 !important;
  padding:10px 0 !important;
}

.set {
  position:relative;
  margin:-20px auto;
  transform:scale(0.8);
}

.logoText {
  animation: flicker 4s infinite;
}

@keyframes flicker {
  0%, 18%, 22%, 25%, 53%, 57%, 100% {
    opacity: 1;
  }
  20%, 24%, 55% {
    opacity: 0.6;
  }
}

.flicker-hn {
  animation: flickerB 4.6s infinite;
}

@keyframes flickerB {
  0%, 15%, 19%, 23%, 60%, 64%, 100% {
    opacity: 1;
  }
  17%, 21%, 62% {
    opacity: 0.6;
  }
}

.flicker-dr {
  animation: flickerC 5.2s infinite;
}

@keyframes flickerC {
  0%, 28%, 32%, 48%, 52%, 75%, 100% {
    opacity: 1;
  }
  30%, 50%, 77% {
    opacity: 0.6;
  }
}
